* {
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.sidebar {
    width: 13%;
    height: 1000px;
    float: left;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.home {
    width: 100%;
}

.mb {
    margin-bottom: 20px;
    margin-top: 20px;
}

.admin {
    color: white;
    text-align: center;
}

.admin img {
    border-radius: 50%;
}

.hr {
    height: 2px;
    background-color: #eee;
}

.menu {
    margin-left: 30px;
}

.menu ul li {
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    text-decoration: none;
}

.menu ul li a {
    color: white;
    font-size: 1.3em;
    text-decoration: none;
}

.menu ul li a:hover {
    margin-left: 10px;
    transition: ease-in-out 0.5s;
    color: rgb(117, 63, 63);
}

.box {
    width: 100%;
    height: 50px;
}

.box p {
    font-size: 20px;
    float: right;
    margin: 10px 20px 0px 0px;
}

.home1 {
    background-color: #eee;
    height: 950px;
}

.home1 h2 {
    margin-left: 500px;
    padding-top: 50px;
}

.search {
    margin-left: 500px;
    padding-top: 50px;
}

.chart {
    margin-top: 50px;
    margin-left: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.chart1 {
    height: 100px;
    width: 360px;
    display: flex;
    background-color: #fff;
}

.mychart {
    margin-top: 50px;
    margin-left: 500px;
}

.content1 {
    margin: 15px 20px 0px 30px;
}

.color1 {
    width: 5px;
    height: 100px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.content2 {
    margin: 15px 20px 0px 0px;
}

.content2 h4 {
    color: #918b8b;
    margin: 0;
}

table, th, td{
    border:1px solid #b4b0b0;
    width: 1200px;
    text-align: center;
}
table{
    border-collapse:collapse;
}
table th{
    height: 40px;
}
table tr:nth-child(odd){
    background-color:#eee;
}
table tr:nth-child(even){
    background-color:white;
}
table tr:nth-child(1){
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.input {
    margin-left: 500px;
    margin-top: 40px;
}

.button {
    width: 100px;
    height: 30px;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%)
}

.edit {
    width: 40px;
    height: 30px;
    background-color: rgb(35, 147, 212);
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.edit:hover {
    color: #fff;
    background-color: rgb(35, 106, 212);
}

.delete {
    width: 40px;
    height: 30px;
    background-color: rgb(223, 81, 81);
    border: none;
    border-radius: 3px;
}

.delete:hover {
    color: #fff;
    background-color: rgb(255, 0, 0);
}

.search2 {
    width: 200px;
    height: 30px;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    border: none;
    padding-left: 10px;
}
.search2:focus{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%)
}
.mota{
    width: 40%;
}
.td{
    width: 3%;
}